dist
build
node_modules
__pycache__
*.pyc
*.pyo
.pytest_cache
.venv
*.egg-info
.expo
.localpycs
*.toc
*.pkg
*.pyz
*.html~
xref-*.html
warn-*.txt
Analysis-*.toc
COLLECT-*.toc
EXE-*.toc
PKG-*.toc
PYZ-*.toc
base_library.zip